
html{
    background-image: url('file:///C:/Users/Jhude/Documents/JHUDE%20VILAR/4th%20YEAR%20COLLEGE/advance%20web%20design/MIDTERM/IMG%20SRC/Background.jpg');
    background-repeat: no-repeat;
    background-position: 80% -10%;
    background-size: 2500px 2000px;
}
*{
    margin: 0;
    padding: 0;
}
.container{ 
    width: 100%;
    background-color:#0000ff;
    background-position: center;
    background-size: cover;
    height: 20vh;
    box-shadow: 0px 2px 5px 0px black;
    
   
    
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: auto;
    float: left;
    height: auto;
    margin-left: 2%;
}

.BCpic {
    background-repeat: no-repeat;
   
    width: 50px;
    float: left;
    margin-top: 12px;
    
}


.BCname {
    background-repeat: no-repeat;
    width: 150px;
    float: left;
    margin-top: 16px;
}

.BCpic:hover{
    cursor: pointer;
}

.BCname:hover{
    cursor: pointer;
}





.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

ul li{
    list-style: none;
    margin-left: 38px;
    margin-top: 30px;
    font-size: 10px;
}

ul li a{
    text-decoration: none;
    color: #C3C3C3;
    font-family: 'Georgia';

    font-weight: 2px;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    font-size: 15px;
    color: white;
   

}








.content{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top:150px;
 
    
   
}

.content h1{
    color: blue;
    margin-top: 15%;
    text-align: center;
  
    font-size: 30px;
    font-family: 'Georgia';
    padding-left: 10px;
        
    position: relative;
    
    overflow: hidden;
    transition: 0.5s ease-in-out;
    
}
   

/*.content h1:hover{
   
    transition: 0.5s ease-in-out;
    font-size: 30px;
}*/

.content .par{
    padding: 20px;
   margin-top: -2%;
    
   
    text-align: justify;
    line-height: 40px;
   text-indent: 15px;
    font-size: 15px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    
   
}

.content .cn{
   
    width: 160px;
    height: 40px;
    background-color: #ff7900;
    margin-bottom: 10px;
   display: block;
 margin-left: 20%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
  
    transition: 0.5s ease-in-out;
}
.content .cn a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Georgia';
    text-align: center;
   

}
.cn:hover{
    
    transition: 0.5s ease-in-out;
    background-color:blue;
    width: 170px;
    height: 50px;
    

}

.cn a:hover{
    color:white;
  
}
/*img{
    float:right;
    height: 550px;
    width: 390px;
    margin-right:200px;
    margin-top: -342px;
    background-size: cover;
    filter: drop-shadow(10px 10px 10px black);
    
}*/

.images{
   
    width: 30%;
    height: 80%;
    position: absolute;
   
    bottom: 0 ;
    right: 100px;
    top: 240%;
    
}
.images img{
    height: 170%;
    position: absolute;
    filter: drop-shadow(10px 10px 10px black);
    left: 20%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, right 1s;
    filter: drop-shadow(10px 10px 10px black(0,0,0,6));

}

.images:hover .logo{
    bottom: 30px;
    
}
.images:hover .bro{
    right: 60%;
   
}
 
@media only screen and (min-width:390px){
    html{
        background-image: url('file:///C:/Users/Jhude/Documents/JHUDE%20VILAR/4th%20YEAR%20COLLEGE/advance%20web%20design/MIDTERM/IMG%20SRC/Background.jpg');
        background-repeat: no-repeat;
        background-position: 80% -20%;
        background-size: 2500px 2500px;
    }

    .container{ 
        width: 100%;
        background-color:#0000ff;
        background-position: center;
        background-size: cover;
        height: 14vh;
        box-shadow: 0px 2px 5px 0px black;
        }

    ul li{
            list-style: none;
            margin-left: 35px;
            margin-top: 15px;
            font-size: 12px;
        }
    


        .content{
            width: 90%;
            height: auto;
            margin: auto;
            margin-top: 100px;
         
            
           
        }
        
        .content h1{
            color: blue;
            margin-top: 15%;
            text-align: center;
          
            font-size: 30px;
            font-family: 'Georgia';
            padding-left: 10px;
                
            position: relative;
            
            overflow: hidden;
            transition: 0.5s ease-in-out;
            
        }
        
           
        

        .images{
            
            width: 30%;
            height: 100%;
            position: absolute;
            bottom: 0 ;
            top: 210%;
           
            
        }
        .images img{
            height: 160%;
            position: absolute;
            filter: drop-shadow(10px 10px 10px black);
            left: 20%;
            bottom: 0;
            transform: translate(-50%);
            transition: bottom 1s, right 1s;
            filter: drop-shadow(10px 10px 10px black(0,0,0,6));
        
        }
        .images:hover .logo{
            bottom: 60px;
        }




    
}

@media only screen and (min-width:412px){
    html{
        background-image: url('file:///C:/Users/Jhude/Documents/JHUDE%20VILAR/4th%20YEAR%20COLLEGE/advance%20web%20design/MIDTERM/IMG%20SRC/Background.jpg');
        background-repeat: no-repeat;
        background-position: 80% 20%;
        background-size: 2500px 2800px;
    }


    ul li{
            list-style: none;
            margin-left: 38px;
            margin-top: 28px;
            font-size: 12px;
        }
    


        .content h1{
            color: blue;
            margin-top: 15%;
            text-align: center;
          
            font-size: 30px;
            font-family: 'Georgia';
            padding-left: 10px;
                
            position: relative;
            
            overflow: hidden;
            transition: 0.5s ease-in-out;
            
        }
        
           
        

        .images{
            
            width: 30%;
            height: 100%;
            position: absolute;
            bottom: 0 ;
            top: 190%;
           
            
        }
        .images img{
            height: 165%;
            position: absolute;
            filter: drop-shadow(10px 10px 10px black);
            left: 20%;
            bottom: 0;
            transform: translate(-50%);
            transition: bottom 1s, right 1s;
            filter: drop-shadow(10px 10px 10px black(0,0,0,6));
        
        }
        .images:hover .logo{
            bottom: 60px;
        }




    
}

@media only screen and (min-width:768px){

    .container{ 
        width: 100%;
        background-color:#0000ff;
        background-position: center;
        background-size: cover;
        height: 15vh;
        box-shadow: 0px 2px 5px 0px black;
        }

        .menu{
            width: auto;
            float: right;
            height: auto;
            margin-top: -4%;
            margin-right: 39%;
            
        }
        
        ul{
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
        }
        
        ul li{
            list-style: none;
            margin-left: 30px;
            margin-top: 15px;
            font-size: 13px;
        }

        content{
            width: auto;
            height: auto;
            margin: auto;
            
         
            
           
        }
        
        .content h1{
            color: blue;
            margin-top: 15%;
            text-align: left;
            margin-left: 5%;
          
            font-size: 25px;
            font-family: 'Georgia';
            padding-left: 10px;
                
            position: relative;
            
            overflow: hidden;
            transition: 0.5s ease-in-out;
            
        }
           
        
        .content h1:hover{
           
            transition: 0.5s ease-in-out;
            font-size: 30px;
        }
        
    
        .content .par{
            width: 45%;
            padding: 20px;
           margin-top: -2%;
            letter-spacing: .0px;
            margin-left: 2%;
            text-indent: 14px;
           
            text-align: left;
            line-height: 17px;
           
            font-size: 11px;
            color: black;
            font-family: 'Georgia';
            
           
        }
        
        .content .cn{
           
            width: 160px;
            height: 40px;
            background-color: #ff7900;
            margin-bottom: 10px;
           display: block;
         margin-left: 5%;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
          
            transition: 0.5s ease-in-out;
        }
        .images{
            background-color: none;
            width: 30%;
            height: 90%;
            position: absolute;
            bottom: 0 ;
            margin-right: -12%;
            
            
        }
        .images img{
            height: 80%;
            position: absolute;
            filter: drop-shadow(10px 10px 10px black);
          
            bottom: 0;
            transform: translate(-50%);
            transition: bottom 1s, right 1s;
            filter: drop-shadow(10px 10px 10px black(0,0,0,6));
        
        }


}